*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Header section*/

.header{
    padding: 32px 0;
    text-align: center;
}
.header h1{
    font-family: Raleway, sans-serif;
    margin: 5px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
}
.header p{
    font-family: Raleway, sans-serif;
    margin: 15px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
}
.head{
    padding: 3px 8px;
    background-color: black;
    color: white;
    text-align: center;
}

/* body*/

.container{
    width: 98%;
    margin: 0 auto;
}

.main{
    display: flex;
    gap: 32px;
}

.left{
    width: 68%;
}

.up{
    padding-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

img{
    width: 100%;
}
h2{
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}
h5{
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400; 
}
.sh{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #666666;
}
p{
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;   
}
.row{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
button{
    padding: 10px 22px;
    background-color: white;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 600; 
    border: 1px solid rgb(204, 200, 200);
}
button:hover{
    background-color: #b4afaf;
}
.cmt{
    font-family: Raleway, sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 600; 
}
.cmnt{
    background-color: black;
    color: white;
    padding: 1px 6px;
}
.cmnte{
    border-radius: 10px;
}
.down{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    padding-bottom: 15px;
}

.right{
    width: 32%;
}
.one{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.two{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}
.title{
    background-color: #F1F1F1;
}
.title h1{
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 15px 310px 15px 15px;
    
}
.topic{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgb(194, 191, 191);
    padding: 10px 200px 10px 10px;

}
.topic:hover{
    background-color: #d6d4d4;
}
.pic{
    width: 30%;
}
.post-name{
    width: 70%;
}
.post-h{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 150px 0px 0px;
}
.post-p{
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 0;
}
.three{
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.t-name{
    background-color: #F1F1F1;
    font-size: 13px;
    line-height: 40px;
    padding: 6px;
}
.nm{
    background-color: black;
    color: white;
    padding: 6px 12px;
    font-size: 18px;
}


.footer{
    margin-top: 20px;
    padding: 35px 0px 30px 15px;
    background-color: #616161;
}
.btn1{
    background-color: #444444;
    color: #919191;
    border: none;
}
.btn2{
    background-color: black;
    color: white;
    border: none;
}
.btn3{
    color: white;
    padding: 40px 0 10px;
}
.btn3 a{
    color: white;
}
